<ion-view class="neutra">
  <ion-header-bar align-title="center" class="bar-theme bar-subheader">
    <h1 class="title neutra dark">STORYBOARD</h1>
  </ion-header-bar>
  <ion-content class="theme-bg has-subheader">
  <div ng-repeat="story in Stories" class="card margin-top-10 margin-bottom-0" ng-click="home.goToStory(story)">
      <div class='row row-center'>
        <div class='col col-20'>
			  <div class="story-list-image">
				<img src="img/hills.png" class="full-image">
			  </div>
        </div>
			<div class="col text-xx-large gray padding-left-10">
			  {{story.attributes.name}}
			</div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
    <div class="card margin-top-10 margin-bottom-0 locked">
      <div class='row row-center'>
        <div class='col col-20'>
          <div class="story-list-image locked">
            <!--<img src="img/user.jpg" class="full-image">-->
            <i class="icon ion-ios-locked positive"></i>
          </div>
        </div>
        <div class="col text-xx-large gray padding-left-10">
          Locked Story
        </div>
      </div>
    </div>
	<!-- Snipper loading -->
	
  </ion-content>

</ion-view>>