<ion-view class="neutra" view-title="{{storyTitle}}">

    <ion-content class="theme-bg">
	
	<img ng-if="!story.StoryPointBoard" style="position:fixed;top:350px;bottom:0;left:0;right:0;" src="img/waiting.jpg" class="full-image stars">
        <div ng-if="story.StoryPointBoard" class="story-page-number-row">
            <div class="story-page-number theme-green-bg">1</div>
        </div>
        <ion-slide-box show-pager="false">
            <ion-slide style="height:100%;" ng-repeat="slide in Slides | orderBy:'slide.attributes.slideOrder'">
                <div style="position:relative;top:50%;" class="card margin-5 row-center">
                    <div class='row'>
                        <div class='col'>
                            <img src="img/hills.png" class="full-image">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col neutra text-medium dark' compile="slide">
                        </div>
                    </div>
                </div>
            </ion-slide>
    
            <ion-slide ng-if="story.StoryPointBoard">
                <div class="card margin-5 summary-bg">
                    <div class='row'>
                        <div class='col text-center hipster padding-top-30 padding-bottom-30 text-xxx-large'>
                            Level 1 Completed !
                        </div>
                    </div>
                    <div class='row padding-top-30 padding-bottom-30'>
                        <div class='col text-center hipster'>
                            <img src="img/stars.png" class="full-image stars">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col text-right neutra text-medium'>
                            Points available :
                        </div>
                        <div class='col text-center text-large'>
                            30
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col text-right neutra text-medium'>
                            Points earned :
                        </div>
                        <div class='col text-center text-large'>
                            3
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col text-right neutra text-medium'>
                            Overall points :
                        </div>
                        <div class='col  text-center text-large'>
                            55
                        </div>
                    </div>
                    <div class='row padding-top-30 padding-bottom-30'>
                        <div class='col'>
                            <button class="button button-block button-theme-green button-rounded margin-0 neutra text-large">Next Story</button>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>

</ion-view>